/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: #4285f4;
  border: none;
  color: #ffffff;
  padding: 14px 20px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #357ae8;
}
